<footer>
    <section class="base">
        <article class="logotipoComisBebisFooter">
            <img src="images/footer/Logotipo-ComisBebis.png" alt="Logotipo Comis&Bebis">
        </article>
        <article class="contatoEmapa">
            <div class="contato">
                <p>Telefone: (00) 00000-0000 Endereço: Rua teste teste teste, n00 - Jd Teste Teste/TT</p>
            </div>
            <div class="mapa">
                <img src="/images/footer/Mapa.jpg" alt="Mapa">
            </div>
        </article>
        <article class="tiposPagamento">
            <div class="textoTiposPagamento">
                <p>Tipos de Pagamento</p>
            </div>
            <div class="logosPagamento">
                <div class="formaPgto1">
                    <img src="images/footer/tipos-de-pagamento/Logo-MasterCard.jpg" hspace="5" alt="Logo Mastercard">
                </div>
                <div class="formaPgto2">
                    <img src="images/footer/tipos-de-pagamento/Logo-Visa.jpg" hspace="5" alt="Logo Visa">
                </div>
                <div class="formaPgto3">
                    <img src="images/footer/tipos-de-pagamento/Logo-Elo.jpg" hspace="5" alt="Logo Elo">
                </div>
            </div>           
        </article>

        <article class="compartilhe">
            <div class="textoCompartilhe">
                <p>Compartilhe</p>
            </div>
            <div class="logosCompartilhe">
                <div class="logoCompartilhe">
                    <img class="logosRedesSociais" src="images/footer/compartilhe/Icone-Facebook.png" hspace="3" alt="Ícone Facebook">
                </div>
                <div class="logoCompartilhe">
                    <img class="logosRedesSociais" src="images/footer/compartilhe/Icone-Instagram.png" hspace="3" alt="Ícone Instagram">
                </div>
                <div class="logoCompartilhe">
                    <img class="logosRedesSociais" src="images/footer/compartilhe/Icone-Whatsapp.png" hspace="3" alt="Ícone Whatsapp">
                </div>
                <div class="logoCompartilhe">
                    <img class="logosRedesSociais" src="images/footer/compartilhe/Icone-Email.png" hspace="3" alt="Ícone E-mail">
                </div>
            </div> 
        </article>
    </section>
</footer>