<header>    

    <section class="topo">
        <div class="logoComisBebisHeader">
            <img id="logotipoComisBebisHeader" src="images/header/Logotipo-ComisBebis.png" alt="Logotipo Comis&Bebis">
        </div>
        
        <button id="btn_navMenuHamburguer" onclick="menuHamburguer()" >&#9776;</button>

        <nav class="menu">

            <div class="botaoMonteDoSeuJeito">
                <p>MONTE DO SEU JEITO!</p>
            </div>
            <div class="botaoCarrinho">
                <img id="imgBotaoCarrinho" src="images/header/Botao-CarrinhoCompras-ComisBebis.png" alt="Botão Carrinho de Compras Comis&Bebis">
                <p id="textoBotaoCarrinho">
                    CARRINHO
                </p>
            </div>            
            <div id="loginRegistro" onclick="openNavDrawer()">
                <p>Login/Registro</p>
            </div>     
        </nav>
        <!-- MENU NAVEGAÇÃO MOBILE -->

        <div class="menuMobile" id="menuMobile">
            <ul>
                <li><a href="/produtos">MONTE DO SEU JEITO</a></li>
                <li><a href="/carrinho">CARRINHO</a></li>
                <li onclick="openNavDrawer()">LOGIN/REGISTRO</li>
            </ul>
        </div>

    </section>

    <script src="../../public/javascripts/js-menuHamburguer.js"></script>    
    
</header>