<header>    

    <section class="topo">
        <div class="logoComisBebisHeader">
            <a href="/"><img id="logotipoComisBebisHeader" src="images/header/Logotipo-ComisBebis.png" alt="Logotipo Comis&Bebis"></a>
            
        </div>
                
        <nav class="menu">
            <div class="botaoMonteDoSeuJeito">
                <a href="/produtos1"><p>MATE SUA FOME AQUI!</p></a>
            </div>
            <div id="loginRegistro" onclick="openNavDrawer()">
                <p>LOGIN/REGISTRO</p>
            </div>     
        </nav>
        <!-- MENU NAVEGAÇÃO MOBILE -->

        <button id="btn_navMenuHamburguer" onclick="menuHamburguer()" >&#9776;</button>

        <nav class="navMenuMobile" id="navMenuMobile">
            <ul id="ulMenuMobile">
                <li><a href="/produtos1">MATE SUA FOME AQUI!</a></li>
                <li onclick="openNavDrawer()">LOGIN/REGISTRO</li>
            </ul>
        </div>

    </section>

    <script src="javascripts/js-menuHamburguer.js"></script> 
    <script src="javascripts/js-card-login-e-registro.js"></script>
    
</header>

