* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* INICIO HEADER */

header {
    height: 10vw;
    max-height: 170px;
    display: flex;
    width: 100%;
}

.topo {
    width: 100%;
    height: 100%;
    display: flex;
    box-shadow: 0rem 0.125rem 0.625rem rgb(0, 0, 0, 0.25);
    background-color: black;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logoComisBebisHeader {
    display: flex;
    max-width: 156px;
    height: 100%;
    padding-top: 3px;
    padding-left: 3vw;
    align-items: center;
}

.logoComisBebisHeader img {
    max-width: 8.2vw;
}

.menu {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.botaoMonteDoSeuJeito {
    display: flex;
    color: white;
    align-items: center;
    background-color: #ffa500;
    border-radius: 50px;
    line-height: 4.2vw;
    font-weight: bold;
    font-size: min(max(8px, 1.1vw), 18px);
    width: 30%;
    justify-content: center;
 }

.botaoCarrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgBotaoCarrinho {
    display: flex;   
    width: 6.2vw;
}

#textoBotaoCarrinho {
    color: white;
    margin-top: 0rem;
    font-weight: bold;
    font-size: min(max(4px, 1vw), 13.5px);
}

#loginRegistro {
    display: flex;
    padding-left: 5%;
    color: black;
    background-color: #ffa500;
    width: 35%;
    font-weight: bold;
    font-size: min(max(8px, 1.5vw), 18px);
    height: 100%;
    align-items: center;    
}

/* FIM HEADER */

/* INICIO MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .8vw 0;
    width: 100%;
    flex-wrap: wrap;
}

.banner {
    display: flex;
    min-width: 100%;
    max-width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 0 0 1vw 0;
}

#bannerPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#bannerPrincipal img {
    width: 100%;
    padding: 0 4%;
}

.promocoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 92%;
    height: auto;
    align-self: center;
    row-gap: 2vw;
    column-gap: 1.8vw;
    flex-wrap: wrap;
}

#promocao1, #promocao2, #promocao3 {
    width: 32%;
    min-width: 305px;
    display: flex;
    justify-content: center;
}
.imgpromocao {
    width: 100%;
}

/* FIM MAIN */

/* INICIO FOOTER */

footer {
    margin-top: auto;
    width: 100%;
}

.base {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0rem 0.125px 0.625rem rgb(0, 0, 0, 0.25);
    background-color: black;
    flex-wrap: wrap;
}

.logotipoComisBebisFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    max-width: 140px;
    margin: 1vw 1vw;    
}

.logotipoComisBebisFooter img{
    max-width: 100%;
    min-width: 100%;
}

.contatoEmapa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    flex-wrap: wrap;
}

.contato {
    display: flex;
    width: 45%;
    min-width: 224px;
    flex-direction: column;
    color: white;
    align-items: center;
    font-size: 1rem;
    margin: 2vw 0;
    flex-wrap: wrap;
}

.mapa {
    max-width: 224px;
    width: 50%;
    margin: 2vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa img{
    width: 100%;
    min-width: 100%;
}

.tiposPagamento {
    width: 281px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textoTiposPagamento {
    color: white;
    font-size: 1.2rem;
    margin: 0.5rem 0 1.8rem 0;
}

.logosPagamento {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.formaPgto1, .formaPgto2, .formaPgto3 {
    width: 30%;    
}

.formaPgto1 img, .formaPgto2 img, .formaPgto3 img{
    width: 100%;
}

.compartilhe {
    width: 281px;
    max-width: 281px;
    min-height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin: 2vw 1vw;
}

.textoCompartilhe {
    color: white;
    font-size: 1.2rem;
    align-self: center;
    margin: 0.5rem 0 1.8rem 0;
}

.logosCompartilhe {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoCompartilhe {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;  
}

img.logosRedesSociais {
    width: 100%;
    max-width: 54px;
}

/* FIM FOOTER */

/* INICIO FORMATOS RESPONSIVOS */

@media only screen and (max-width: 600px) {
    
    #bannerPrincipal img{
        width: 100%;
        padding: 0 4%;
    }
        
    .promocoes {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        
    #promocao1, #promocao2, #promocao3 {
        min-width: 80vw;
    }

    .base {
        max-height: auto;
    }
}

@media only screen and (max-width: 700px) {

    .base {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .logotipoComisBebisFooter {
        margin: 2vw 15vw;
        
    }
    .logotipoComisBebisFooter img{
        width: 120px;
    }
    
    img.logosRedesSociais {
        width: 100%;
        max-width: 34px;
    }

    .base {
        max-height: none;
    }
}

@media only screen and (max-width: 560px) {

    .base {
        justify-content: space-around;
        flex-wrap: wrap;
        max-height: none;
    }
    
    .logotipoComisBebisFooter {
        margin: 2vw 15vw;
        
    }
    .logotipoComisBebisFooter img{
        width: 120px;
    }
    
    .contatoEmapa {
        flex-direction: column;
        width: 100vw;
    }
    
    .mapa {
        min-width: 80vw;
    }
    
    .mapa img{
        width: 100vw;
    }
    
    .tiposPagamento {
        margin: 3vw 15vw;
        min-width: 70vw;
    }
    
    .compartilhe {
        min-width: 50vw;
        margin: 6vw 0;
    }
    
    .textoCompartilhe {
        font-size: 1.3rem;
    }
    
    img.logosRedesSociais {
        min-width: 10vw;
    }

}