.icones{
    margin-top: 1rem;
    margin-bottom: 1rem;
}


#master{
    width: 3.125rem;
    height: 1.875rem;
}

#visa{
    width: 3.125rem;
    height: 1.875rem;
    
}

#elo{
    width: 3.125rem;
    height: 1.875rem;
}

#facebook{
    width: 2.5rem;
    height: 1.875rem;

}

#instagram{
    width: 2.5rem;
    height: 1.875rem;
}

#whatsapp{
    width: 2.5rem;
    height: 1.875rem;
}

#email{
    width: 2.5rem;
    height: 1.875rem;
}

#logofooter{
    width: 5rem;
    height: 5rem;
    margin-top: 0.1rem;
}


#mapa{
    margin-top: 0.1rem;
    padding-left: 0.625rem;
    width: 12.5rem;
    height: 5rem;
}

#pFooter{
    font-size: 0.9375rem;
    padding-left: 2rem;
    margin-top: 0.1rem;
}

#tiposPagamento{
    display: flex;
    flex-direction: column;
}

#p1{
    font-size: 0.9375rem;
    padding-bottom: 0;
}

#p2{
    padding-left: 1.875rem;
    font-size: 0.9375rem;
    padding-bottom: 0;
}

#compartilhe{
    display: flex;
    flex-direction: column;
}

#endereco{
    display: flex;
    flex-direction: row;
    margin-left: 0;
}

