header {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    width: 100%;
    align-items: center;
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}


.footer{
    margin-top: auto;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

