#logotipo{
    display: flex;
    block-size: 5rem;
    padding-left: 6.875rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}


#carrinho{
    display: flex;
    block-size: 5rem;
    padding-right: 6.875rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.linhas{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 0.9375rem;

}

.cinza{
    background-color: rgb(189, 189, 189);
    display: flex;
    flex-direction: row;
    height: 2.5rem;


}

.branco{
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 2.5rem;

}

#balao{
    width: 1.25rem;
    height: 1.875rem;
    margin-top: 0.3rem;
    margin-left: 1.25rem;

}

#cep{
    margin-left: 1.25rem;
    margin-top: 1rem;
}

#cep2{
    width: 7rem;
    margin-left: 00.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

#ok{
    border-radius: 15rem;
    width: 2rem;
    height: 2rem;
    margin-top: 0.4rem;
    margin-left: 00.5rem;
}

p{
    margin-left: 1.25rem;
    
}

#dinheiro{
    width: 1.875rem;
    height: 1.25rem;
    margin-top: 0.8rem;
    margin-left: 1.25rem;
}

#cartao{
    width: 1.875rem;
    height: 1.25rem;
    margin-top: 0.8rem;
    margin-left: 1.25rem;
}

#cartaoButton{
    width: 0.9375rem;
    height: 0.625rem;
}

#cadastro{
    padding-bottom: 2rem;
}

#pedido{
    width: 1.5625rem;
    height: 1.25rem;
    margin-left: 1.25rem;
    margin-top: 00.8rem;
}

#pEntregaSubtotal{
    margin-top: 0.1rem;
}

#enviarPedido{
    background-color: #FFA500; 
    border-radius: 10rem;
    margin-left: 30rem;
    width: 12.5rem;
    height: 3.125rem;
}

#voltarCarrinho{
    background-color: #FFA500;
    border-radius: 10rem;
    margin-left: 10rem;
    width: 12.5rem;
    height: 3.125rem;
}