<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comis e Bebis</title>
    <link rel="stylesheet" href="stylesheets/css-pg-cadastro-cartao.css">
    <link rel="stylesheet" href="stylesheets/css-header.css">
    <link rel="stylesheet" href="stylesheets/css-footer.css">
</head>
<body>
    <%- include('./partials/header') %>

    <section>
        <div class="wrapper">
            <div class="container">
                <article>
                    <h1>
                        Cartão de Crédito
                    </h1>
                    <form action="">
                        <div class="numeroCartao">
                            <label for="first">Número do Cartão</label>
                            <input type="text" id="first" class="cc-num" type="text" maxlength="4">
                            <input type="text" id="second" class="cc-num" type="text" maxlength="4">
                            <input type="text" id="third" class="cc-num" type="text" maxlength="4">
                            <input type="text" id="fourth" class="cc-num" type="text" maxlength="4">
                        </div>
                        <div class="nomeDoCartao">
                            <label for="name">Nome</label>
                            <input type="text" id="name" class="" type="text" maxlength="100">
                        </div>
                        <div class="dataValidade">
                            <div>
                                <label for="expiry">Data de Validade</label>
                                <input type="text" class="month" id="expiry" placeholder="02">
                                <input type="text" class="year" id="" placeholder="2017">
                            </div>
                            <div class="cvv">
                                <label for="cvv">CVV No.</label><a href="#what">?</a>
                                <input type="text" class="csv">
                            </div>
                        </div>
                        <div class="submit1">
                            <input type="submit" class="submit" value="Cadastrar Cartão">
                        </div>
                    </form>
                </article>
            </div>
        </div>
    </section>
    <%- include('./partials/footer.ejs') %>

</body>
</html>

<!-- ADD CARD LOGIN & REGISTRO -->
<%- include("card-login-e-registro"); %