<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comis & Bebis</title>
    <link rel="stylesheet" href="stylesheets/css-home.css">
    <link rel="stylesheet" href="stylesheets/css-header.css">
    <link rel="stylesheet" href="stylesheets/css-footer.css">
</head>
<%- include("card-login-e-registro"); %> 
<body>
    <%- include('./partials/header') %>
    <main>
        <section class="banner">
            <div id="bannerPrincipal">
                <a id="bannerPrincipalDeskop" href="/produtos1">
                    <img src="images/pg-home/Banner-Principal-ComisBebis-Desktop2.jpg" alt="Banner Principal - Imagem Lanche aberto em cima do logotipo Comis&Bebis">
                </a>
                <a id="bannerPrincipalMobile" href="/produtos1">
                    <img src="images/pg-home/Banner-Principal-ComisBebis-Mobile2.jpg" alt="Banner Principal - Imagem Lanche aberto em cima do logotipo Comis&Bebis">
                </a>                
            </div>
        </section>
        <section class="promocoes">
            <div id="promocao1">
                <a href="/produtos1">
                    <img class="imgpromocao" src="images/pg-home/Banner-Promocao-1-ComisBebis.jpg" hspace="10" alt="Foto lanche pão rosa">
                </a>                
            </div>
            <div id="promocao2">
                <a href="/produtos1">
                    <img class="imgpromocao" src="images/pg-home/Banner-Promocao-2-ComisBebis.jpg" hspace="10" alt="Foto dois lanches com caneca de shop">
                </a>                
            </div>
            <div id="promocao3">
                <a href="/produtos1">
                    <img class="imgpromocao" src="images/pg-home/Banner-Promocao-3-ComisBebis.jpg" hspace="10" alt="Foto lanche com batata frita e copo de refrigerante com gelo">
                </a>                
            </div>            
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>

<!-- ADD CARD LOGIN & REGISTRO -->
