<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comis e Bebis</title>
    <link rel="stylesheet" href="stylesheets/css-pg-pagamento.css">
    <link rel="stylesheet" href="stylesheets/css-header.css">
    <link rel="stylesheet" href="stylesheets/css-footer.css">
</head>
<body>

    <!-- ADD CARD LOGIN & REGISTRO -->
    <%- include("card-login-e-registro"); %> 

    <%- include('./partials/header') %>
        
    <script src="javascripts/js-card-login-e-registro.js"></script>
</body>
</html>
 
<!-- comentando -->