<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comis e Bebis</title>
    <link rel="stylesheet" href="stylesheets/css-pg-pagamento.css">
    <link rel="stylesheet" href="stylesheets/css-header.css">
    <link rel="stylesheet" href="stylesheets/css-footer.css">
</head>
<body>

    <%- include('./partials/header') %>
        
    <main>
        <section class="base">
            <div class="cinza">
                <img src="images/localizacao.png" alt="" id="balao">
                <p>Confirme seu endereço:</p>
            </div>
            <div class="branco" id="endereco">
                <div>
                    <label for="CEP" id="cep" >CEP:</label>
                    <input type="text" id="cep2" maxlength="8">
                    <button id="ok">Ok</button>
                </div>
                <div id="rua">
                    <p>Rua: Teste, 000</p>
                </div>            
            </div>
            <div class="cinza">
                <img src="images/pg-pagamento/dinheiro.png" alt="" id="dinheiro">
                <p>Pague na entrega:</p>
            </div>
            <div class="branco" id="pagamento">
                <input type="radio" id="Dinheiro" name="pagamento">
                <label for="horns">Dinheiro</label>
                <input type="radio" id="maquinadecartao" name="pagamento">
                <label for="horns">Máquina de cartão</label>
            </div> 
            <div class="cinza">
                <img src="images/pg-pagamento/cartao.png" alt="" id="cartao">
                <p>Pague pelo site:</p>
            </div>
            <div class="branco" id="botaoCadastroCartao">
                <p><button id="cadastroCartao"><img src="images/pg-pagamento/cartao.png" alt="cartao" id="cartaoButton">Cadastrar Novo Cartão + </button></p>
            </div>
            <div class="cinza">
                <img src="images/pg-pagamento/pedido.png" alt="" id="pedido">
               <p>Pedido:</p> 
            </div>
            <div class="branco" id="entrega">
                <p>Entrega</p>
                <span>R$</span>
            </div>
            <div class="branco" id="subtotal">
                <p>Subtotal</p>
                <span>R$</span>
            </div>
            <hr>
            <div class="branco" id="total">
                <p>TOTAL</p>
                <span>R$</span>
            </div>
        </section>

        <section class="botao">
            <div>
                <a href="/carrinho"><input type="button" value="Voltar para o Carrinho"></a>
            </div>
            <div>
                <input type="button" value="Enviar Pedido">
            </div>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>
 
 <!-- ADD CARD LOGIN & REGISTRO -->
 <%- include("card-login-e-registro"); %> 