<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comis & Bebis</title>
    <link rel="stylesheet" href="stylesheets/css-pg-produtos.css">
    <link rel="stylesheet" href="stylesheets/css-header.css">
    <link rel="stylesheet" href="stylesheets/css-footer.css">
    <!-- <script>
        const ingredientes = []
        //SE FOR RODAR ESSA FUNCAO, NAO ESQUEDCER DE CHAMAR ONCLICK NO BUTTON
        // function enviar (){
        //     const item1 = document.querySelector('input[name="pao"]:checked').value;
        //     const item2 = document.querySelector('input[name="carne"]:checked').value;
        //     const item3 = document.querySelector('input[name="ponto"]:checked').value;

            
        //     ingredientes.push(item1, item2, item3)
        //     console.log(ingredientes)
        // }
        
    </script> -->
    
</head>
    <%- include("card-login-e-registro"); %> 
<body background= "images/pg-home/Banner-Promocao-3-ComisBebis.jpg">
    <%- include('./partials/header') %>

    <main>
            <!-- COMEÇO DOS INGREDIENTES -->
    <section class="container-ingredientes">
        <form action="/carrinho" method="POST">
        
            <div id = "pao">
           <div class ="pao-titulo"> <strong>LANCHES</strong> </div>
            <br>
            <br>
        <div>

        <div class="pao-box">
                <input type="radio" id="PÃO TRADICIONAL" name="pao" value="Big Heat" checked>
            <label for="pao">BIG HEAT</label>
        </div>
            <br>
            <br>
        <div class="pao-box">
            <input type="radio" id="PÃO AMERICANO" name="pao" value="Heat Burguer Simples">
            <label for="pao">HEAT BURGUER SIMPLES</label>
        </div>
            <br>
            <br>
        <div class="pao-box">
            <input type="radio" id="PÃO ITALIANO" name="pao" value="Heat Burguer Duplo">
            <label for="pao">HEAT BURGUER DUPLO</label>
        </div>
            <br>
            <br>
        <div class="pao-box">
            <input type="radio" id="PÃO BRIOCHE" name="pao" value="Heat Burguer Triplo">
            <label for="pao">HEAT BURGUER TRIPLO</label>
        </div>
            <br>
            <br>   
    </main>            
    
</div>
        
        <div id = "acompanhamento">
            <div class="acompanhamento-titulo"> 
                <strong>ACOMPANHAMENTO</strong> 
            </div>
            <br>
            <br>
            <div class="acompanhamento-box">    
                <input type="radio" id="BATATA RUSTICA SIMPLES" name="acompanhamento" value="batata rustica simples" checked>
                <label for="acompanhamento">BATATA RUSTICA SIMPLES</label>
            </div>
                <br>
                <br>
            <div class="acompanhamento-box">   
                <input type="radio" id="FRITAS PALITO SIMPLES" name="acompanhamento" value="fritas palito simples">
                <label for="acompanhamento">FRITAS PALITO SIMPLES</label>
            </div>    
                <br>
                <br>
            <div class="acompanhamento-box">    
                <input type="radio" id="FRITAS PALITO CHEDDAR E BACON" name="acompanhamento" value="fritas palito cheddar bacon">
                <label for="acompanhamento">FRITAS PALITO CHEDDAR E BACON</label>
            </div>
                <br>
                <br>
            
            </div>
                
        </div>
        <div id = "bebidas">
            <div class="bebidas-titulo">
                <strong>BEBIDAS</strong>
            </div>
            <br>
            <div>
            <div class="bebidas-box">
                <input type="radio" id="COCA COLA" name="bebidas" value="coca cola" checked>
                <label for="bebidas">COCA COLA</label>
            </div>
                <br>
                <br>
            <div class="bebidas-box">   
                <input type="radio" id="GUARANA" name="bebidas" value="guarana">
                <label for="bebidas">GUARANA</label>
            </div>
                <br>
                <br>
            
            <div class="bebidas-box">    
                <input type="radio" id="SUCO DE LARANJA" name="bebidas" value="suco de laranja">
                <label for="bebidas">SUCO DE LARANJA</label>
            </div>
            
            </div>
            </div>
        </div>      
            <!-- FIM DOS INGREDIENTES -->
    </div>
        
        <button id = "irparapagamento">
           <br>
           <div class="pagamento-titulo">
               IR PARA CARRINHO
            </div>
        </button>
    </form>
</section>
    <%- include('./partials/footer.ejs') %> 
    </body>
    
</html>