<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comis e Bebis</title>
    <link rel="stylesheet" href="../public/stylesheets/css-pg-pagamento.css">
    <link rel="stylesheet" href="../public/stylesheets/css-header.css">
    <link rel="stylesheet" href="../public/stylesheets/css-footer.css">
</head>
<body>
    <%- include('./partials/header') %>
    <!-- <header class="logo">
        <div class="logo1">
            <a href=""><img src="image/Logotipo-ComisBebis.png" alt=""></a> 
        </div>
        <div class="logo2" >
            <a href=""><img src="image/carrinho.png" alt="" id="carrinho"></a>   
        </div>
    </header> -->

    <main>
        <section class="base">
            <div class="cinza">
                <img src="image/localizacao.png" alt="" id="balao">
                <p>Confirme seu endereço:</p>
            </div>
            <div class="branco" id="endereco">
                <div>
                    <label for="CEP" id="cep" >CEP:</label>
                    <input type="text" id="cep2" maxlength="8">
                    <button id="ok">Ok</button>
                </div>
                <div id="rua">
                    <p>Rua: Teste, 000</p>
                </div>            
            </div>
            <div class="cinza">
                <img src="image/dinheiro.png" alt="" id="dinheiro">
                <p>Pague na entrega:</p>
            </div>
            <div class="branco" id="pagamento">
                <input type="radio" id="Dinheiro" name="pagamento">
                <label for="horns">Dinheiro</label>
                <input type="radio" id="maquinadecartao" name="pagamento">
                <label for="horns">Máquina de cartão</label>
            </div> 
            <div class="cinza">
                <img src="image/cartao.png" alt="" id="cartao">
                <p>Pague pelo site:</p>
            </div>
            <div class="branco" id="botaoCadastroCartao">
                <p><button id="cadastroCartao"><img src="image/cartao.png" alt="cartao" id="cartaoButton">Cadastrar Novo Cartão + </button></p>
            </div>
            <div class="cinza">
                <img src="image/pedido.png" alt="" id="pedido">
               <p>Pedido:</p> 
            </div>
            <div class="branco" id="entrega">
                <p>Entrega</p>
                <span>R$ 3,99</span>
            </div>
            <div class="branco" id="subtotal">
                <p>Subtotal</p>
                <span>R$ 74,00</span>
            </div>
            <hr>
            <div class="branco" id="total">
                <p>TOTAL</p>
                <span>R$ 77,99</span>
            </div>
        </section>

        <section class="botao">
            <div>
                <input type="button" value="Voltar para o Carrinho">
            </div>
            <div>
                <input type="button" value="Enviar Pedido">
            </div>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %> 
<!-- 
    <footer>
        <div class="logoFooter1">
            <img src="image/Logotipo-ComisBebis.png" alt="" id="logoFooter">
        </div>
        
        <div class="contato">
            <p>Telefone (00) 0000-0000<br>Rua teste, 00<br>Jd Teste<br>Teste/TT</p>
        </div>
        
        <div class="mapa1">
            <img src="image/Mapa.jpg" alt="" id="mapa">
        </div>
        
        <div class="tipoPagamento">
            <div>
                <p>Tipos de Pagamento</p>
            </div>
            <div class="bandeiras">
                <img src="image/mastercard.jpeg" alt="" id="master">
                <img src="image/visa.jpeg" alt="" id="visa">
                <img src="image/elo.jpeg" alt="" id="elo">
            </div>
        </div>
        
        <div class="compartilhar">
            <p>Compartilhe</p>
            <div class="redeSocial"> 
                <img src="image/facebook.png" alt="">
                <img src="image/instagram.png" alt="">
                <img src="image/whatsapp.png" alt="">
                <img src="image/email.png" alt="">
            </div>
        </div>        
    </footer> -->    

</body>
</html>
 
<!-- comentando -->