<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/css-pg-carrinho.css">
    <link rel="stylesheet" href="stylesheets/css-header.css">
    <link rel="stylesheet" href="stylesheets/css-footer.css">
    <link rel="stylesheet" href="stylesheets/css-pedidoenviado.css">
    <title>Document</title>
</head>

<body>
    <%- include('./partials/header') %>
    <main>
        <div class="titulo">
            <h1>Pedido Enviado Com Sucesso!</h1>
        </div>
        
        <div class="subtitulo">
            <h3>Retire seu pedido em 30 minutos!</h3>
        </div>
        
    </main>

    <footer>
        <%- include('./partials/footer.ejs') %> 
    </footer>
   
</body>
</html>