body {
    font-family: Arial, Helvetica, sans-serif;
}

.lista{
    display:flex;
    background: white;
    justify-content:space-around;
    padding: 1px;
    max-width: 100%;
    box-sizing: border-box;
    height: 60vh;
    flex-direction: column;
}

.lanche{
    height: 8vh;
    background: gray;
    padding: 15px;
    box-sizing: border-box;
   }

.acompanhamento{
    height: 8vh;
    background: gray;
    padding: 15px;
    box-sizing: border-box;
}

.bebida{
    height: 8vh;
    background: gray;
    padding: 15px;
    box-sizing: border-box;
}

.alterar{
    display:flex;
    justify-content:space-around;
    padding: 15px;
    max-width: 100%;
    box-sizing: border-box;
    height: 60vh;
    flex-direction: column;
}

.alterar1{
    background: orange;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.alterar2{
    background: orange;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.alterar3{
    background: orange;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.pagamento{
    margin-left: auto;
    margin-right: auto;
    background: orange;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
    justify-content: center;
}
