/* CORPO DO SITE  */
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 60%;
    width: 100%;
    align-items: baseline;
}

strong {
    align-items: center;
}


#container-ingredientes {
   display: flex;
   justify-content: center;

}

#pao{
    position: absolute;
    width: 220px;
    height: 572px;
    left: 17px;
    top: 210px;
    background: #C4C4C4;
    text-align: start;
    border-radius: 15px;
}

.pao-titulo{
    position:center;
    width: 220px;
    height: 43px;
    left: 0px;
    top: 0px;
    background: #FFA500;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height:2.5;
    font-size: larger;
    border-radius: 15px;

}

.pao-box{
    
    width: 80%;
    text-align: left;
}

#carne {
    position: absolute;
    width: 288px;
    height: 350px;
    left: 255px;
    top: 210px;
    background: #C4C4C4;
    text-align:start;
    border-radius: 15px;
}

.carne-titulo{
    position:center;
    width: 288px;
    height: 43px;
    left: 0px;
    top: 0px;
    background: #FFA500;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height:2.5;
    font-size: larger;
    border-radius: 15px;
} 

.carne-box{
    width: 90%;
    text-align: left;
}

#pontodacarne{
    position: absolute;
    width: 13.625rem;
    height: 12.25rem;
    left: 285px;
    top: 585px;
    background: #C4C4C4;
    text-align: start;  
    border-radius: 15px;
}

.ponto-titulo{
    position:center;
    width: 218px;
    height: 43px;
    left: 0px;
    top: 0px;
    background: #FFA500;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height:2.5;
    font-size: larger;
    border-radius: 15px;
}

.ponto-box{
    width: 90%;
    text-align: left;
}

#queijo{
    position:absolute;
    width: 13.625rem;
    height: 270px;
    left: 585px;
    top: 210px;
    background: #C4C4C4;
    text-align: start;
    border-radius: 15px;
}

.queijo-titulo{
    position:center;
    width: 218px;
    height: 43px;
    left: 0px;
    top: 0px;
    background: #FFA500;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height:2.5;
    font-size: larger;
    border-radius: 15px;
}

.queijo-box{
    width: 90%;
    text-align: left;
}

#molho{
    position: absolute;
    width: 240px;
    height: 16.75rem;
    left: 560px;
    top: 510px;
    background: #C4C4C4;
    text-align: start;
    border-radius: 15px;
}

.molho-titulo{
    position:center;
    width: 240px;
    height: 43px;
    left: 0px;
    top: 0px;
    background: #FFA500;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height:2.5;
    font-size: larger;
    border-radius: 15px;
}

.molho-box{
    width: 100%;
    text-align: left;
}

#adicionais{
    position: absolute;
    width: 13.625rem;
    height: 35.75rem;
    left: 850px;
    top: 210px;
    background: #C4C4C4;
    text-align: start;
    border-radius: 15px;
}

.adicionais-titulo{
    position:center;
    width: 218px;
    height: 43px;
    left: 0px;
    top: 0px;
    background: #FFA500;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height:2.5;
    font-size: larger;
    border-radius: 15px;
}

.adicionais-box{
    width: 100%;
    text-align: left;
}

#acompanhamento{
    position: absolute;
    width: 310px;
    height: 35.75rem;
    left: 1100px;
    top: 210px;
    background: #C4C4C4;
    text-align: center;
    border-radius: 15px;
}

.acompanhamento-titulo{
    position:center;
    width: 310px;
    height: 43px;
    left: 0px;
    top: 0px;
    background: #FFA500;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height:2.5;
    font-size: larger;
    border-radius: 15px;
}

.acompanhamento-box{
    width: 100%;
    text-align: left;
}

#bebidas{
    position: absolute;
    width: 218px;
    height: 27.375rem;
    left: 1450px;
    top: 210px;
    background: #C4C4C4;
    text-align: start;
    border-radius: 15px;
}

.bebidas-titulo{
    position:center;
    width: 218px;
    height: 43px;
    left: 0px;
    top: 0px;
    background: #FFA500;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height:2.5;
    font-size: larger;
    border-radius: 15px;
}

.bebidas-box{
    width: 100%;
    text-align: left;
}

#irparapagamento{
    position: absolute;
    width: 13.75rem;
    height: 5.25rem;
    left: 1450px;
    top:680px;
    background: #FFA500;
    border-radius: 15px;
    text-align:center;
    align-items: center;
}
.pagamento-titulo{
    position:center;
    width: 218px;
    height: 43px;
    left: 0px;
    top: 0px;
    background: #FFA500;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height:2.5;
    font-size: larger;
    border-radius: 15px;
}

main {
    margin-block:650px;
}
