* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

footer {
    margin-top: auto;
    width: 100%;
}

.base {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0rem 0.125px 0.625rem rgb(0, 0, 0, 0.25);
    background-color: black;
    flex-wrap: wrap;
}

.logotipoComisBebisFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    max-width: 140px;
    margin: 1vw 1vw;    
}

.logotipoComisBebisFooter img{
    max-width: 100%;
    min-width: 100%;
}

.contatoEmapa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    flex-wrap: wrap;
}

.contato {
    display: flex;
    width: 45%;
    min-width: 224px;
    flex-direction: column;
    color: white;
    align-items: center;
    font-size: 1rem;
    margin: 2vw 0;
    flex-wrap: wrap;
}

.mapa {
    max-width: 224px;
    width: 50%;
    margin: 2vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa img{
    width: 100%;
    min-width: 100%;
}

.tiposPagamento {
    width: 281px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textoTiposPagamento {
    color: white;
    font-size: 1.2rem;
    margin: 0.5rem 0 1.8rem 0;
}

.logosPagamento {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.formaPgto1, .formaPgto2, .formaPgto3 {
    width: 30%;    
}

.formaPgto1 img, .formaPgto2 img, .formaPgto3 img{
    width: 100%;
}

.compartilhe {
    width: 281px;
    max-width: 281px;
    min-height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin: 2vw 1vw;
}

.textoCompartilhe {
    color: white;
    font-size: 1.2rem;
    align-self: center;
    margin: 0.5rem 0 1.8rem 0;
}

.logosCompartilhe {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoCompartilhe {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;  
}

img.logosRedesSociais {
    width: 100%;
    max-width: 54px;
}

/* INICIO FORMATOS RESPONSIVOS */

@media only screen and (max-width: 600px) {
    
    .base {
        max-height: auto;
    }
}

@media only screen and (max-width: 700px) {

    .base {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .logotipoComisBebisFooter {
        margin: 2vw 15vw;
        
    }
    .logotipoComisBebisFooter img{
        width: 120px;
    }
    
    img.logosRedesSociais {
        width: 100%;
        max-width: 34px;
    }

    .base {
        max-height: none;
    }
}

@media only screen and (max-width: 560px) {

    .base {
        justify-content: space-around;
        flex-wrap: wrap;
        max-height: none;
    }
    
    .logotipoComisBebisFooter {
        margin: 2vw 15vw;
        
    }
    .logotipoComisBebisFooter img{
        width: 120px;
    }
    
    .contatoEmapa {
        flex-direction: column;
        width: 100vw;
    }
    
    .mapa {
        min-width: 80vw;
    }
    
    .mapa img{
        width: 100vw;
    }
    
    .tiposPagamento {
        margin: 3vw 15vw;
        min-width: 70vw;
    }
    
    .compartilhe {
        min-width: 50vw;
        margin: 6vw 0;
    }
    
    .textoCompartilhe {
        font-size: 1.3rem;
    }
    
    img.logosRedesSociais {
        min-width: 10vw;
    }

}