*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100%;
}

main{
    width: 100%;
}


.base{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    width: 100%;
}

.branco{
    background-color: rgb(255, 255, 255);
    padding-left: 3%;
    width: 100%;
    height: 25px;
}

.cinza{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #C4C4C4;
    width: 100%;
    padding-left: 3%;
}

#endereco{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#cep2{
    border-radius: 5px;
}

#balao{
    width: 2.2%;
    height: 3%;
    margin-right: 2%;
}

#rua{
    margin-left: 10%;
}

#pagamento{
    padding-top: 1.3%;
    padding-bottom: 1.3%;
    width: 100%;
}

#dinheiro{
    width: 3%;
    height: 4%;
    margin-right: 2%;

}


#cartao{
    width: 3%;
    height: 5%;
    margin-right: 1%;
}

#cartaoButton{
    width: 10%;
    height: 10%;
    margin-right: 2%;
}

#cadastroCartao{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 65%;
    border-radius: 5px;
}

#botaoCadastroCartao{
    display: flex;
    align-items: center;
    width: 100%;
}


#pedido{
    width: 2%;
    height: 2%;
    margin-right: 2%;
}

#lanche,
#acompanhamento,
#bebida{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#lanche p,
#acompanhamento p,
#bebida p{
    margin-top: 1%;
    margin-bottom: 1%;
}

#total{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#total p{
    font-weight: 800;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

#total span{
    font-weight: 800;
}

hr{ 
	width: 100%;
	height: 5px; 
	border: 2px solid; 
	border-color: black;
	background: rgb(0, 0, 0);
}

.botao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 5%;
    background-color: #C4C4C4;
}

/* .botao input{
    background-color: #FFA500;
    height: 250%;
    border-radius: 20px;
    border-width: 0;
    cursor: pointer;
} */

.enviarPedido{
    margin-left: auto;
    margin-right: auto;
    background: orange;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
    justify-content: center;    
}

