footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    box-shadow: 0px 1px 20px rgba(180, 87, 0, 0.65);

}

#logoFooter{
    width: 60%;
}

footer p{
    color: white;
    
}

#mapa{
    width: 80%;
}

.tipoPagamento{
    display: flex;
    flex-direction: column;
}

.bandeiras{
    display: flex;
    flex-direction: row;
}

.bandeiras img{
    margin-right: 5%;
    width: 30%;
}

.tipoPagamento p{
    padding-left: 14%;
    margin-top: 2%;
    margin-bottom: 10%;
}

.redeSocial img{
    width: 20%;
}

.compartilhar{
    display: flex;
    flex-direction: column;
    width: 120%;
    margin-left: 5%;
   
}

.redeSocial{
    width: 80%;
    margin-right: 0;
}

.logoFooter1{
    width: 70%;
}

.contato{
    width: 80%;
}

.mapa1{
    margin-top: 1%;
    width: 100%;
    margin-left: 5%;
}

.tipoPagamento{
    margin-left: 5%;
    width: 100%;
}

.tipoPagamento p{
    margin-left: 7%;
}

.compartilhar p{
    padding-left: 20%;
}


